.left-icon,
.right-icon{
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    padding: 0.3rem;
    position: absolute;
    color: white;
}

.left-icon{
    top: 50%;
    left: 17%;
    transform: translate(-50%, -50%);
}

.right-icon{
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.singleItem{
    width: 70%;
    margin: auto;
    padding-top: 3.5rem;
}

.itemImg{
    width: 80%;
    margin: 1.5rem auto;
}

.product-image{
    text-align: center;
    position: relative;
}

.content-detail{
    margin: 0.5rem 0;
}

.descript{
    margin: 1.5rem 0;
}

.cart-Btn{
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: black;
    color: white;
    cursor: pointer;
}

.cart-Btn:active{
    background: grey;
}

.cart-Btn:hover{
    background-color: lightsalmon;
}

.size-chart{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}

.left-icon:hover,
.right-icon:hover{
    background-color: rgba(128, 128, 128, 0.8);
}

/***-- Responsive Area --***/

@media screen and (max-width: 992px) {
    .size-chart{
        text-align: center;
    }

    .content{
        text-align: center;
    }

    .size-image{
        margin: 23% auto;
        width: 100%;
        height: 200%;
    }

    .left-icon{
        position: absolute;
        top: 50%;
        left: 18%;
        transform: translate(-50%, -50%);
    }

    .right-icon{
        position: absolute;
        top: 50%;
        left: 82%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 768px){
    .itemImg{
        width: 100%;
    }

    .cart-Btn{
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .left-icon{
        left: 9%;
    }

    .right-icon{
        left: 91%;
    }
}

@media screen and (max-width: 670px){
    .left-icon{
        left: 11%;
    }

    .right-icon{
        left: 89%;
    }
}

@media screen and (max-width: 570px){
    .size-image{
        margin: auto;
        height: 100%;
    }
    .left-icon{
        left: 8%;
    }

    .right-icon{
        left: 92%;
    }
}

@media screen and (max-width: 425px){
    .left-icon{
        left: 10%;
    }

    .right-icon{
        left: 90%;
    }
}

@media screen and (max-width: 375px){
    .left-icon{
        left: 11%;
    }

    .right-icon{
        left: 89%;
    }
}

@media screen and (max-width: 320px){
    .left-icon{
        left: 12%;
    }

    .right-icon{
        left: 88%;
    }
}

@media screen and (max-width: 280px){
    .left-icon{
        left: 15%;
    }

    .right-icon{
        left: 85%;
    }
}