.mobileStyle{
    width: 100%;
    height: 37.5rem;
    margin-bottom: 3rem;
}

.markStyle{
    color: white;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 1rem 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

/*-- Responsive Area --*/

@media screen and (max-width: 830px){
    .mobileStyle{
        width: 100%;
        height: 20rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 768px){
    .mobileStyle{
        height: 40rem;
    }
}

@media screen and (max-width: 740px){
    .mobileStyle{
        height: 22rem;
    }
}

@media screen and (max-width: 670px){
    .mobileStyle{
        height: 19rem;
    }
}

@media screen and (max-width: 570px){
    .mobileStyle{
        height: 17rem;
    }
}

@media screen and (max-width: 540px){
    .mobileStyle{
        height: 35rem;
    }
}

@media screen and (max-width: 425px){
    .mobileStyle{
        height: 27rem;
    }
}

@media screen and (max-width: 375px){
    .mobileStyle{
        height: 25rem;
    }
}

@media screen and (max-width: 320px){
    .mobileStyle{
        height: 23rem;
    }
}