.foot-img{
    width: 200px;
    height: 65px;
    margin: 1rem 0;
}

.footer-box{
    margin-top: 3rem;
    padding-bottom: 1.4rem;
}

li{
    padding: 0.1rem;
}

.row{
    margin-bottom: 0;
}

/*-- Responsive Area --*/

@media screen and (max-width: 992px) {
    .foot-img{
        visibility: hidden;
        position: absolute;
    }

    .footer-box{
        margin-top: 1.5rem;
    }
}