nav{
    position: fixed;
    top: 0;
    z-index: 999;
}

.head-img{
    width: 200px;
    height: 65px;
}

.btn{
    background-color: lightslategrey;
}

.btn:hover{
    background-color: lightsteelblue;
}

.log-out{
    margin-top: 1.5rem;
    width: 20px;
    height: 20px;
}

.logout{
    height: 64px;
}

.hoverLink-bg:hover{
    background-color: rgba(0, 0, 0, 0);
}

/*-- Responsive Area --*/
@media screen and (max-width: 670px){
    .head-img{
        width: 150px;
    }

    .right-container{
        padding-right: 0px !important;
    }
}

@media screen and (max-width: 570px) {
    .head-img{
        width: 200px;
        height: 40px !important;
        margin-left: 1rem;
    }

    .nav-wrapper{
        height: 65px !important;
        position: relative;
        margin-bottom: 3rem;
    }

    .target1{
        position: absolute;
        top: 80%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .target2{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .target3{
        position: absolute;
        top: 80%;
        left: 85%;
        transform: translate(-50%, -50%);
    }

    .target4{
        position: absolute;
        top: 29%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

    .target5{
        position: absolute;
        top: 30%;
        left: 85%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 320px) {
    .target4{
        left: 75%;
    }

    .target5{
        left: 90%;
    }
}