nav{
    position: sticky;
    top: 0;
    z-index: 999;
}

.head-img{
    width: 200px;
    height: 65px;
}

/* .btn{
    background-color: lightslategrey;
}

.btn:hover{
    background-color: lightsteelblue;
} */

.hoverLink-bg:hover{
    background-color: rgba(0, 0, 0, 0);
}

/*-- Responsive Area --*/

@media screen and (max-width: 570px) {
    .head-img{
        width: 200px;
        height: 40px !important;
        margin-left: 1rem;
    }

    .nav-wrapper{
        height: 65px !important;
        position: relative;
        margin-bottom: 3rem;
    }

    .target1{
        position: absolute;
        top: 80%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .target2{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .target3{
        position: absolute;
        top: 80%;
        left: 85%;
        transform: translate(-50%, -50%);
    }

    .target4{
        position: absolute;
        top: 29%;
        left: 70%;
        transform: translate(-50%, -50%);
    }

    .target5{
        position: absolute;
        top: 29%;
        left: 85%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 425px) {
    .target4{
        left: 66%;
    }

    .target5{
        top: -15%;
        left: 75%;
        transform: translate(0%, 0%);
    }
}

@media screen and (max-width: 320px) {
    .target4{
        left: 73%;
    }
}

@media screen and (max-width: 280px) {
    .head-img{
        width: 150px;
    }

    .target4{
        left: 70%;
    }

    .target5{
        left: 73%;
    }
}